<div class="input-wrapper">
  @if (label()) {
    <label [for]="id()">{{ label() }}</label>
  }
  <input
    #input
    [id]="id()"
    [name]="name()"
    [type]="type()"
    [value]="value"
    [placeholder]="placeholder()"
    [disabled]="disabled()"
    [readonly]="readonly()"
    [size]="size()"
    [required]="required()"
    [attr.maxlength]="maxlength() ? maxlength() : null"
    [attr.autofocus]="autofocus() ? autofocus() : null"
    [attr.autocomplete]="autocomplete() ? autocomplete() : null"
    (input)="handleInput($event)"
    (change)="change.emit($event)"
    (focus)="handleFocus()"
    (blur)="handleBlur()"
    (click)="click.emit($event)"
    (keydown)="keydown.emit($event)"
    (keyup)="keyup.emit($event)"
    (keypress)="keypress.emit($event)"
    (paste)="paste.emit($event)"
    (cut)="cut.emit($event)"
  />
</div>
